*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
}

input,
button,
textarea {
  font: inherit;
}

button {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  background-color: black;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  color: white;
  transition: all 0.2s linear;
}

.btn {
  margin-bottom: 1.5rem;
}

.btn:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-error {
  background-color: transparent;
  border: 2px solid crimson;
  color: crimson;
  padding: 0.4rem;
  margin-bottom: 0;
}
